<div class="container  mt-5">
	<div class="row">
		<div class="col-sm-4">
<h3>Update Sample Details</h3>
<%= form_with model: @sample do |form| %>
  <%= form.text_field :name, placeholder: "name" %>

  <%= form.submit %>
<% end %>
</div>
</div>
</div>